$factionDescriptionFont: cursive;

h1, h3 {
    text-align: center;
    font-family: cursive;
}
.container {
    display: grid;
}
.homepageimages {
    width: 50%;
    height: 75%;
}

.description {
    font-family: $factionDescriptionFont;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 10px;
}
